<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI_下拉改变大小.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F8FE0E21DB2043F0082D036</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F8FE0FB1DB2043F0082D036</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F8FE1061DB2043F0082D036</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
